.title-200 {
  font-family: 'Suisse Intl';
  font-weight: 400;
  letter-spacing: -0.06em;
}

.title-120 {
  margin-top: rem(24px);

  font-family: 'TT Firs Neue';
  font-size: rem(120px);
  font-weight: 600;
  font-style: normal;
  line-height: rem(108px);
  color: #364a46;
  letter-spacing: -2.4px;
}

@media #{media('<',d)} {
  .title-120 {
    margin-top: rem(12px);
    font-size: rem(48px);
    line-height: rem(43.2px);
    letter-spacing: -0.96px;
  }
}

.text {
  font-family: 'Suisse Intl';
  font-weight: 400;
  letter-spacing: -0.06em;
}
