extends ../../layout/layout

block variables
  -
    const pageName = 'ui'
    const pageTitle = 'ui'

block content
  main(data-barba='container', data-barba-namespace=pageName)
    .inner
      br
      br
      br
      //- +rem-select(ordersSelectProps3)(placeholder='Область применения')
      br
      br
      br
      //- +rem-select(ordersSelectProps3)(placeholder='Область применения2')
