.contact-us {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: rem(124px);
  margin: auto;

  &__title {
    color: #364a46;
    font-size: rem(80px);
    font-weight: 600;
    font-style: normal;
    line-height: rem(80px);
    letter-spacing: -1.6px;
    padding-bottom: rem(48px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    max-width: rem(924px);
  }

  &__form-input {
    max-width: rem(924px);
    max-height: rem(80px);
    border-radius: rem(16px);
    padding: rem(28px) rem(24px);
    background-color: #f3f3f3;
    &::placeholder {
      color: #364a46;
      font-size: rem(20px);
      font-weight: 400;
      opacity: 0.5;
    }
    &:hover {
      background-color: #eaeaea;
      transition: $transition;
    }
    &:active,
    &:focus-visible {
      background-color: #fff;
      border: 2px solid #0a8;
    }

    &_big {
      min-height: rem(180px);
    }
  }

  &__text {
    color: #364a46;
    a {
      color: #0a8;
    }
  }

  &__form-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(16px);
  }

  &__btn {
    padding: rem(25px) rem(32px);
    min-width: rem(332px);
  }

  &__decor {
    position: absolute;
    &_first {
      width: rem(236px);
      height: rem(261px);
      left: rem(-180px);
      top: rem(181px);
    }

    &_second {
      right: rem(-180px);
      width: rem(223.903px);
      height: rem(182.208px);
    }
  }
}

@media #{media('<',d)} {
  .contact-us {
    padding: rem(38px);
    &__title {
      letter-spacing: -0.52px;
      font-size: rem(26px);
      line-height: rem(26px);
      padding-bottom: rem(24px);
    }
    &__form {
      max-width: rem(366px);
    }
    &__form-input {
      padding: rem(16px);
    }
    &__form-submit {
      flex-direction: column;
      gap: rem(28px);
      margin-top: rem(12px);
    }
    &__btn {
      padding: rem(16px) rem(24px);
      min-width: 100%;
    }
    &__text {
      font-size: rem(12px);
      line-height: rem(15.6px);
    }
    &__decor {
      &_first {
        width: rem(104px);
        height: rem(115px);
        left: rem(-100px);
        top: rem(50px);
      }

      &_second {
        right: rem(-100px);
        width: rem(102.903px);
        height: rem(83.208px);
        bottom: rem(150px);
      }
    }
  }
}
@media #{media('<',m)} {
  // мобилка
}
