.contact-us {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: rem(124px);
  margin: auto;

  &__title {
    color: #364a46;
    font-family: 'TT Firs Neue';
    font-size: rem(80px);
    font-weight: 600;
    font-style: normal;
    line-height: rem(80px);
    letter-spacing: -1.6px;
    padding-bottom: rem(48px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    max-width: rem(924px);
  }

  &__form-input {
    max-width: rem(924px);
    max-height: rem(80px);
    border-radius: rem(16px);
    padding: rem(28px) rem(24px);
    background-color: #f3f3f3;
    font-family: 'Rubik';
    &::placeholder {
      color: #364a46;
      font-size: rem(20px);
      font-weight: 400;
      opacity: 0.5;
    }
    &:hover {
      background-color: #eaeaea;
      transition: $transition;
    }
    &:active,
    &:focus-visible {
      background-color: #fff;
      border: 2px solid #0a8;
    }

    &_big {
      min-height: rem(161px);
    }
  }

  &__text {
    color: #364a46;
    font-family: Rubik;
    font-size: rem(14px);
    font-weight: 400;
    p {
      display: inline;
    }
    a {
      display: inline;
      color: #0a8;
    }
  }

  &__form-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(16px);
  }

  &__btn {
    border-radius: rem(16px);
    padding: rem(25px) rem(32px);
    min-width: rem(332px);
  }

  &__decor {
    position: absolute;
    &_first {
      width: rem(236px);
      height: rem(261px);
      left: rem(-180px);
      top: rem(181px);
    }

    &_second {
      right: rem(-180px);
      width: rem(223.903px);
      height: rem(182.208px);
    }
  }
}

@media #{media('<',d)} {
  .contact-us {
    padding: rem(38px);
    &__title {
      letter-spacing: -0.52px;
      font-size: rem(26px);
      line-height: rem(26px);
      padding-bottom: rem(24px);
    }
    &__form {
      max-width: rem(366px);
    }
    &__form-input {
      padding: rem(16px);
    }
    &__form-submit {
      flex-direction: column;
      margin-top: rem(0px);
      gap: rem(28px);
    }
    &__btn {
      border-radius: rem(12px);
      padding: rem(16px) rem(24px);
      min-width: 100%;
    }
    &__text {
      font-size: rem(12px);
      line-height: rem(15.6px);
    }
    &__decor {
      &_first {
        width: rem(104px);
        height: rem(115px);
        left: rem(-120px);
        top: rem(37px);
      }

      &_second {
        right: rem(-128px);
        width: rem(131px);
        height: rem(124px);
        bottom: rem(150px);
      }
    }
  }
}

@media #{media('<',m)} {
  .contact-us {
    padding: 0 0 rem(48px);
    &__title {
      font-size: rem(26px);
      font-style: normal;
      font-weight: 600;
      line-height: rem(26px);
      letter-spacing: -0.52px;
    }
    &__form-submit {
      gap: rem(12px);
    }
    &__decor {
      &_first {
        width: rem(29px);
        height: rem(34px);
        left: unset;
        right: rem(77px);
        top: rem(-26px);
      }

      &_second {
        right: rem(18px);
        top: rem(-15px);
        width: rem(59px);
        height: rem(56px);
      }
    }
  }
}
