mixin contacts-contact-us(mods)
  -
    const baseName = 'contact-us'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .contact-us(class=allMods)&attributes(attributes)
    h4.contact-us__title Связаться с нами
    form.contact-us__form(action='') 
      //FIXME: добавить атрибуты для валидации
      label.contact-us__form-label
        input(type='text', required='')
        .contact-us__form-placeholder Ваше имя
      label.contact-us__form-label
        input(type='email', required='')
        .contact-us__form-placeholder E-mail
      label.contact-us__form-label
        input(type='tel', required='')
        .contact-us__form-placeholder Телефон
      label.contact-us__form-label.contact-us__form-label_big
        input(type='text', required='')
        .contact-us__form-placeholder Сообщение
      .contact-us__form-submit
        .contact-us__text
          p Нажимая на кнопку «Отправить» я даю согласие на условия&nbsp;
          +link политики в отношении обработки персональных данных
        +button("Отправить", "_accent").contact-us__btn
    +picture('decor-form-first.webp').contact-us__decor.contact-us__decor_first
    +picture('decor-form-second.webp').contact-us__decor.contact-us__decor_second
