mixin contact-us(mods)
  -
    const baseName = 'contact-us'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .contact-us(class=allMods)&attributes(attributes)
    h4.contact-us__title Связаться с нами
    form.contact-us__form(action='') 
      input.contact-us__form-input(type='text', placeholder='Ваше имя')
      input.contact-us__form-input(type='email', placeholder='E-mail')
      input.contact-us__form-input(type='tel', placeholder='Телефон')
      input.contact-us__form-input.contact-us__form-input_big(type='text', placeholder='Сообщение')
      .contact-us__form-submit
        .contact-us__text
          p Нажимая на кнопку «Отправить» я даю согласие на условия
          +link политики в отношении обработки персональных данных
        +button("Отправить", "_accent").contact-us__btn
    +picture('decor-form-first.webp').contact-us__decor.contact-us__decor_first
    +picture('decor-form-second.webp').contact-us__decor.contact-us__decor_second
