{
  "plugins": ["@prettier/plugin-pug", "@trivago/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true,

  "pugAttributeSeparator": "always",
  "pugWrapAttributesThreshold": 3,
  "pugIdNotation": "literal",
  "pugEmptyAttributes": "all",
  "pugEmptyAttributesForceQuotes": [],
  "pugClassNotation": "literal",
  "pugClassLocation": "before-attributes",
  "pugExplicitDiv": false,

  "importOrder": ["^builtin", "^external", "^internal", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
