.ui-textarea {
  $comp: &;
  position: relative;
  cursor: text;
  textarea {
    position: relative;
    width: 100%;
    display: flex;

    max-height: rem(80px);
    padding: rem(37px) rem(24px) rem(19px);
    font-family: 'Rubik';
    background-color: #f3f3f3;
    border: 2px solid transparent;
    border-radius: rem(16px);

    // убирем нах плйсхолдер дефолтный
    &::placeholder,
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder {
      opacity: 0;
    }

    // когда пустой инпут
    &:placeholder-shown + .ui-textarea__placeholder {
      top: rem(28px);
      left: rem(24px);
      font-size: rem(20px);
    }

    // если активный инпут
    &:active,
    &:focus {
      background-color: #ffffff;
      border-color: #00aa88;
    }

    &:active + .ui-textarea__placeholder,
    &:focus + .ui-textarea__placeholder {
      top: rem(18px);
      bottom: 0;
      left: rem(24px);
      font-size: rem(14px);
    }

    &_big {
      min-height: rem(181px);
    }

    @include media-hover {
      background-color: #eaeaea;
      transition: $transition;
    }
  }

  &.invalid textarea {
    border-color: #e40e20;
  }

  &__placeholder {
    user-select: none;
    position: absolute;
    width: 80%;
    font-family: 'Rubik';
    font-size: rem(14px);
    font-weight: 400;
    font-style: normal;
    color: #364a46;
    opacity: 0.5;
    transition: $transition;
    top: rem(18px);
    bottom: 0;
    left: rem(24px);
  }

  &__error_visible {
    margin-top: rem(6px);
    color: #e40e20;
    font-family: Rubik;
    font-size: rem(14px);
    font-weight: 400;
    line-height: normal;

    & ~ textarea {
      border-color: red;
    }
  }
}

@media #{media('<',d)} {
  .ui-textarea {
    textarea {
      padding-inline: rem(16px);
      &:placeholder-shown + .ui-textarea__placeholder {
        font-size: rem(14px);
      }
      &:active + .ui-textarea__placeholder,
      &:focus + .ui-textarea__placeholder {
        left: rem(16px);
      }
      &:placeholder-shown + .ui-textarea__placeholder {
        left: rem(16px);
      }
    }
    &__placeholder {
      left: rem(16px);
    }
  }
}
