extends ../../layout/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'Main'

block content
  main(data-barba='container', data-barba-namespace=pageName)
    .inner
      +ui-h1(pageTitle)
      .qwe
        +rem-input
      button.ui-h1(onclick='window.slideDown(document.querySelector(".qwe"))') slideDown
      br
      br
      button.ui-h1(onclick='window.slideUp(document.querySelector(".qwe"))') slideUp
      br
      br
      button.ui-h1(onclick='window.slideToggle(document.querySelector(".qwe"))') slideToggle
