extends ../../layout/layout

block variables
  -
    const pageName = 'contacts'
    const pageTitle = 'contacts'

block content
  main.contacts(data-barba='container', data-barba-namespace=pageName)
    // TODO: svg footer social + поправить их border
    // TODO: paint cloudmill footer
    // TODO: вместо :hover использовать @include media-hover
    // TODO: исправить названия файлов и классов в миксинах
    // TODO: исправить позиционирование svg в адаптиве
    // TODO: добавить белый цвет лупе при наведении в хедере
    nav
      +breadcrumbs
    h1.title-120 Контакты
    +contacts-cards
    +contacts-socials
    +contacts-addresses
    +contacts-contact-us 
