extends ../../layout/layout

block variables
  -
    const pageName = 'contacts'
    const pageTitle = 'contacts'

block content
  main(data-barba='container', data-barba-namespace=pageName)
    // TODO: input animation
    h1.title Контакты
    +cards
    +socials
      .socials__block-links
        +social-link('_blue')
          +vk-icon
        +social-link('_red')
          +ytb-icon
        +social-link('_orange')
          +ok-icon
    +addresses
    +contact-us 
