extends ../../layout/layout

block variables
  -
    const pageName = 'contacts'
    const pageTitle = 'contacts'

block content
  main.contacts(data-barba='container', data-barba-namespace=pageName)
    nav
      +breadcrumbs
    h1.title-120 Контакты
    +contacts-cards
    +contacts-socials
    +contacts-addresses
    +contacts-contact-us 
