extends ../../layout/layout

block variables
  -
    const pageName = 'contacts'
    const pageTitle = 'contacts'

block content
  main.contacts(data-barba='container', data-barba-namespace=pageName)
    // TODO: input animation
    // TODO: svg footer social
    // TODO: paint cloudmill footer

    h1.title-120 Контакты
    //FIXME: добавить в названия блоков contacts-
    +cards
    +socials
      //- .socials__block-links
      //-   +social-link('_blue')
      //-     +vk-icon
      //-   +social-link('_red')
      //-     +ytb-icon
      //-   +social-link('_orange')
      //-     +ok-icon
    +addresses
    +contact-us 
