.address {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: rem(450px);
  height: rem(288px);
  border-radius: rem(24px);
  background-color: #0a8;
  padding: rem(32px);

  &__title {
    padding-bottom: rem(20px);
    font-family: 'TT Firs Neue';
    font-size: rem(32px);
    font-style: normal;
    font-weight: 600;
    line-height: rem(32px);
    letter-spacing: -0.64px;
  }

  address,
  time {
    max-width: rem(320px);
    font-family: 'Rubik';
    font-size: rem(18px);
    font-style: normal;
    font-weight: 400;
    line-height: rem(28.8px);
    flex: 1 1 auto;
  }

  time {
    text-transform: uppercase;
  }

  &_green {
    background-color: #0a8;
  }
  &_blue {
    background-color: #0097d4;
  }
}

@media #{media('<',d)} {
  .address {
    padding: rem(12px);
    width: rem(177px);
    height: rem(160px);
    &__title {
      font-size: rem(20px);
      line-height: rem(20px);
      letter-spacing: -0.04px;
    }
    address,
    time {
      font-size: rem(12px);
      line-height: rem(15.6px);
    }
  }
}

@media #{media('<',m)} {
  // мобилка
}
