mixin social-link(link="#", mods)
  -
    const baseName = 'social-link'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
  a.social-link(href=link)(class=allMods)&attributes(attributes)
    block
