.social-link {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: rem(399px);
  height: rem(399px);

  border: 2px solid #f0f0f0;
  border-radius: rem(270px);

  transition: $transition;

  @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
    &:hover {
      background: #ffffff;
      border: rem(12px) solid var(--color-for-link);
      border-radius: rem(270px);
    }
  }

  //color mods

  &_blue {
    --color-for-link: #0077ff;
  }

  &_red {
    --color-for-link: #ff0000;
  }

  &_orange {
    --color-for-link: #f7931e;
  }
}

@media #{media('<',d)} {
  .social-link {
    width: rem(240px);
    height: rem(240px);

    svg {
      width: rem(45px);
      height: rem(45px);
    }
  }
}

@media #{media('<',m)} {
  .social-link {
    width: rem(104px);
    height: rem(104px);

    svg {
      width: rem(31px);
      height: rem(31px);
    }
  }
}
