mixin ui-input(mods)
  label.ui-input(data-input-parent='')
    input(data-input='', name=name ? name : '')&attributes(attributes)
    .ui-input__placeholder
      span
        | #{ attributes.placeholder }
    .ui-input__error(data-error-container='')
