mixin ui-img(data, mods)
  -
    const baseName = 'ui-img'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  picture.ui-img(class=allMods)&attributes(attributes)
    each item in data
      img(src=`../../images/${data.img}`)
    block
