mixin delivery-option(mods)
  -
    const baseName = 'delivery-option'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .delivery-option(class='mt-[6.25rem] max-w-[45.25vw] d:mt-6 d:max-w-full')&attributes(attributes)
    // статичный первый блок с радиокнопками
    hr
    .delivery-option__block
      h2.delivery-option__title(class='mt-6 d:mt-4') Спооб доставки
      fieldset.delivery-option__options
        input#option-pickup.delivery-option__radio(type='radio', name='option', value='pickup') 
        label.delivery-option__label(for='option-pickup') Самовывоз
        input#option-shipping.delivery-option__radio(type='radio', name='option', value='shipping') 
        label.delivery-option__label(for='option-shipping') Транспортной компанией

    // динамический если нажали 'Самовывоз'
    +radio-block('Кто будет забирать', 'who', { 'Конечный получатель' : 'pickup', 'Транспортная компания' : 'shipping', 'Доверенное лицо' : 'agent' })
      .delivery-option__wrapper
        input.delivery-option__input(type='text', placeholder='Наименование')
        input.delivery-option__input(type='text', placeholder='ИНН (необязательно)')
        label.delivery-option__button(for='input-file')
          .delivery-option__button-icon
            +paperclip 
          input#input-file.hidden(type='file')
          p Прикрепить файл доверенности
      p.delivery-option__text
        span.text-accent *&nbsp;
        | Если данной информации нет на момент заполнения шаблона, то предоставление необходимо после информирования о дате забора.

    // динамический если нажали 'Самовывоз'
    +radio-block('Вариант отгрузки документов', 'how', { 'Оригиналы отгрузочных документов передать с грузом (доверенному лицу)' : 'value1', 'Оригиналы отгрузочных документов вложить в ящик с грузом' : 'value2', 'Отправка третьим лицам, документы с ценами не прикладывать к грузу, оригиналы отгрузочных документов отправить почтой по адресу' : 'value3' })
      .delivery-option__wrapper
        input.delivery-option__input(type='text', placeholder='Адрес')
      p.delivery-option__text
        span.text-accent *&nbsp;
        | Возможна отгрузка по скану доверенности, с гарантией дальнейшей отправки оригинала по почте. Доверенность от даты составления шаблона.

    // статичный
    hr(class='mt-20 d:mt-6')
    .delivery-option__block.delivery-option__block_gap
      .delivery-option__block-head(class='mt-6 d:mt-4')
        h2.delivery-option__title Дополнительные требования к доставке
        button.delivery-option__button-reset Очистить все
      textarea.delivery-option__textarea(
        placeholder='Комментарий (например, инструкция, паспорт и другое). Если доставка через ТК, укажите вид упаковки'
      )
      .delivery-option__privacy
        input#privacy.delivery-option__privacy-checkbox(type='checkbox')
        label.delivery-option__privacy-text(for='privacy')
          | Нажимая на кнопку «Отправить», я принимаю&nbsp;
          a(href='#') условия политики конфиденциальности

      //
      .delivery-option__wrapper.delivery-option__wrapper_buttons
        label.delivery-option__button(for='input-file2')
          input#input-file2.hidden(type='file')
          p Прикрепить файл доверенности

        a.delivery-option__button(download='', href='')
          .delivery-option__button-icon_download
            +download
          p Скачать файл в PDF

    button.delivery-option__submit.mt-10 Отправить
      .delivery-option__submit-icon.delivery-option__submit-icon_download
        +arrow-right
