.modal {
  $comp: &;
  position: fixed;
  z-index: 1111;
  top: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;

  width: 100vw;

  &.is-open {
    display: flex;
  }

  &[aria-hidden='false'] {
    #{$comp}__overlay {
      animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
    }
    #{$comp}__wrapper {
      animation: slideInRight 0.3s cubic-bezier(0, 0, 0.2, 1);

      &--response {
        animation: slideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }

  &[aria-hidden='true'] {
    #{$comp}__overlay {
      animation: fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
    }
    #{$comp}__wrapper {
      animation: slideOutRight 0.3s cubic-bezier(0, 0, 0.2, 1);

      &--response {
        animation: slideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background: rgba(#1b1b1b, 0.3);
    backdrop-filter: blur(10px);
  }

  &__layout {
    display: contents;
  }

  &__wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;

    width: rem(950px);

    background-color: #fff;

    &--response {
      top: auto;
      right: auto;
      bottom: auto;

      display: flex;
      align-items: center;
      justify-content: center;

      width: rem(610px);
      padding: rem(104px) rem(32px);
    }

    @media #{media("<")} {
      width: rem(560px);
    }

    @media #{media("<", m)} {
      width: rem(335px);
    }
  }

  &__close {
    --size: #{rem(100px)};
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--size);
    height: var(--size);

    background-color: #000;

    @media #{media("<")} {
      --size: #{rem(40px)};
    }
  }

  &__svg {
    --size: #{rem(48px)};
    width: var(--size);
    height: var(--size);

    path {
      stroke: #fff;
    }

    @media #{media("<")} {
      --size: #{rem(16px)};
    }
  }

  &__cross {
    cursor: pointer;

    position: absolute;
    z-index: 1;
    top: rem(32px);
    right: rem(32px);

    display: flex;
    align-items: center;

    @media #{media("<")} {
      top: rem(16px);
      right: rem(16px);
    }
  }

  &__cross-svg {
    --size: #{rem(48px)};
    width: var(--size);
    height: var(--size);

    @media #{media("<")} {
      --size: #{rem(20px)};
    }
  }
}

// появление/исчезание оверлея

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// появление/исчезание модалки через opacity

@keyframes slideIn {
  from {
    transform: translateY(15%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

// появление/исчезание модалки справа

@keyframes slideInRight {
  from {
    transform: translateX(110%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(110%);
  }
}
