//- ВНИМАНИЕ! Этот файл генерируется автоматически.
//- Любые изменения будут потеряны при следующей компиляции.

include shared/_ui-rem/checkbox/checkbox.pug
include shared/_ui-rem/rem-button/button.pug
include shared/_ui-rem/rem-input/rem-input.pug
include shared/_ui-rem/rem-select/rem-select.pug
include shared/_ui-rem/rem-textarea/rem-textarea.pug
include shared/_ui/ui-accordion/ui-accordion.pug
include shared/_ui/ui-button/ui-button.pug
include shared/_ui/ui-checkbox/ui-checkbox.pug
include shared/_ui/ui-datepicker/ui-datepicker.pug
include shared/_ui/ui-h/ui-h.pug
include shared/_ui/ui-img/ui-img.pug
include shared/_ui/ui-input/ui-input.pug
include shared/_ui/ui-ol/ui-ol.pug
include shared/_ui/ui-p/ui-p.pug
include shared/_ui/ui-radio/ui-radio.pug
include shared/_ui/ui-range/ui-range.pug
include shared/_ui/ui-select/ui-select.pug
include shared/_ui/ui-svg/ui-svg.pug
include shared/_ui/ui-swiper/ui-swiper.pug
include shared/_ui/ui-switch/ui-switch.pug
include shared/_ui/ui-tab/ui-tab.pug
include shared/_ui/ui-textarea/ui-textarea.pug
include shared/_ui/ui-tooltip/ui-tooltip.pug
include shared/_ui/ui-ul/ui-ul.pug
include shared/breadcrumbs/breadcrumbs.pug
include shared/gallery/gallery.pug
include shared/modals/modals.pug
include shared/pagination/pagination.pug
include shared/picture/picture.pug
include shared/popup/popup.pug
include shared/section/section.pug
include shared/slider/slider.pug
include shared/svg/svg.pug
include shared/table/table.pug
include shared/transition-screen/transition-screen.pug
include shared/universal-table/universal-table.pug
