.breadcrumbs {
  position: relative;
  display: flex;
  align-items: center;
  gap: rem(55px);
  min-height: rem(16px);
  margin-left: rem(24px);
  &__item {
    position: relative;
    color: #364a46;
    font-family: 'TT Firs Neue';
    font-size: rem(16px);
    font-weight: 600;
    line-height: rem(14.4px);
    text-transform: uppercase;
    transition: $transition;
    &:hover {
      color: #0a8;
    }
    &_active {
      cursor: auto;
      color: #0a8;
    }
  }

  &__item svg {
    position: absolute;
    top: rem(-2px);
    right: rem(-24px);
  }

  &__item:hover svg {
    color: #0a8;
  }
}

@media #{media('<',d)} {
  .breadcrumbs {
    margin-left: rem(12px);
    gap: rem(40px);
    &__item {
      font-size: rem(10px);
      line-height: rem(9px);
    }
  }
}
@media #{media('<',m)} {
  // мобилка
}
