.breadcrumbs {
  position: relative;

  display: flex;
  gap: rem(31px);
  align-items: center;

  min-height: rem(16px);

  &__item {
    display: flex;
    align-items: center;
    gap: rem(8px);
    position: relative;

    font-family: 'TT Firs Neue';
    font-size: rem(16px);
    font-weight: 600;
    line-height: rem(14.4px);
    color: #364a46;
    text-transform: uppercase;

    transition: $transition;

    @include media-hover {
      color: #00aa88;
      svg {
        color: #00aa88;
      }
    }

    svg {
      transition: $transition;
    }

    &.active {
      cursor: auto;
      color: #00aa88;
    }
  }
}

@media #{media('<',d)} {
  .breadcrumbs {
    gap: rem(16px);

    &__item {
      font-size: rem(10px);
      line-height: rem(9px);
    }
  }
}

@media #{media('<',m)} {
  // мобилка
}
