.contacts-socials {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: rem(24px);

  h3 {
    padding-left: rem(56px - 24px);

    font-family: 'TT Firs Neue';
    font-size: rem(32px);
    font-weight: 600;
    font-style: normal;
    line-height: rem(32px);
    color: #364a46;
    letter-spacing: -0.64px;
  }

  &__block {
    display: flex;
    gap: rem(21px);
  }
}

@media #{media('<',d)} {
  .contacts-socials {
    flex-direction: column;
    gap: rem(12px);
    margin-top: rem(10px);

    h3 {
      align-self: start;

      padding: 0;

      font-size: rem(20px);
      line-height: rem(20px);
      letter-spacing: -0.4px;
    }

    &__block {
      gap: rem(12px);
    }
  }
}

@media #{media('<',m)} {
  .contacts-socials {
    margin-top: rem(48px);

    &__block {
      gap: rem(19px);
    }
  }
}
