.button {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'TT Rounds Neue';
  font-size: rem(18px);
  font-weight: 600;
  color: #364a46;
  text-align: center;
  white-space: nowrap;

  background: #f4f4f4;
  border: 1px solid transparent;
  transition: $transition;

  &:hover {
    color: #fff;
    background-color: #dd5799;
  }

  &:disabled {
    pointer-events: none;
    color: var(--1, gray);
    opacity: 0.3;
    background: #f0e7ef;
  }
}

.button_accent {
  background-color: #dd5799;
  color: #fff;
  &:hover {
    background-color: #c7397f;
  }
}

@media #{media('<',d)} {
  .button {
    font-size: rem(13px);
  }
}

@media #{media('<',m)} {
  // мобилка
}
