mixin tailwind-otherNews(mods)
  -
    const baseName = 'tailwind-otherNews'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .tailwind-otherNews(class=allMods)&attributes(attributes)
    h2.mt-5(
      class='text-[2rem]/[2.4rem] font-semibold tracking-[-0.64px] d:text-base/[1.2rem] d:tracking-[-0.16px]'
    ) Похожие новости
    .mt-10.flex.gap-4(class='d:mt-6 d:overflow-x-scroll')
      +tailwind-cardNews('#', 'tw/other-image-1.webp', '18 октября 2023', 'Итоги выставки EcwaTech', 'Новости' , '#выставки ')
      +tailwind-cardNews('#', 'tw/other-image-2.webp', '11 февраля 2022', 'Кавитация и NPSHr, расчет максимальной высоты подъёма', 'Новости' , '#расчеты ')
      +tailwind-cardNews('#', 'tw/other-image-3.webp', '10 ноября 2023', 'Насосы серии NIS вошли в складскую программу CNP', 'Новости' , '#NIS', '#NISO', '#склад', '#распродажа')
