.link {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    inset: rem(20px) 0;
    height: rem(2px);
    width: 100%;
    background-color: transparent;
    transition: $transition;
  }
  &:hover::after,
  &:active::after,
  &:focus::after {
    background-color: black;
  }
}
