.link {
  position: relative;
  color: inherit;

  &::after {
    content: '';
    position: absolute;
    inset: auto 0 rem(-4px);
    height: rem(2px);
    max-width: 100%;
    background-color: transparent;
    transition: $transition;
    // max-width: max-content;
  }

  &:hover::after,
  &:active::after,
  &:focus::after {
    background-color: currentColor;
  }
}
