.link {
  position: relative;
  color: inherit;

  &::after {
    content: '';

    position: absolute;
    inset: auto 0 rem(-4px) auto;

    width: 0%;
    height: rem(2px);

    background-color: currentColor;

    transition: $transition;
  }

  @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
    &:hover::after,
    &:active::after,
    &:focus::after {
      right: auto;
      left: 0;
      width: 100%;
    }
  }
}
