mixin tag(text='', mods)
  -
    const baseName = 'tag'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  div(class='rounded-3 bg-dark px-3 py-1 text-white d:rounded-2 d:px-2 d:py-[0.125rem]')&attributes(attributes)
    block
