.cards {
  position: relative;
  display: flex;
  gap: rem(24px);
  &__decor {
    z-index: -5;
    position: absolute;
    width: rem(393px);
    height: rem(305px);
    right: rem(-46px);
    bottom: rem(-68px);
  }
}
