.universal-box {
  position: relative;
  width: 100%;
  max-height: rem(720px);
  border: 1px solid blue;
  border-radius: rem(20px);
  box-shadow: 0 rem(-20px) rem(34px) 0 #0000000a inset;
  overflow: auto;
  @include media-laptop {
    max-height: rem(560px);
  }
  @include media-tablet {
    max-height: rem(400px);
  }
}

.universal-table {
  position: relative;
  width: max-content;
  min-width: 100%;
  max-height: 100%;
  border: none;
  overflow-x: hidden auto;
  @include media-laptop {
    max-height: unset;
    overflow: visible;
  }
  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: auto;
    tr,
    th {
      border: 1px solid blue;
    }
    td {
      padding-top: rem(20px);
      padding-bottom: rem(20px);
      border: 1px solid blue;
      text-align: center;
    }
  }
  td {
    height: rem(84px);
    padding: rem(20px) rem(24px);
    color: #0b1226;
    font-size: rem(16px);
    line-height: 1.4;
    letter-spacing: -0.16px;
    text-align: left;
    @include media-laptop {
      height: rem(56px);
      padding: rem(8px) rem(12px);
      font-size: rem(14px);
    }
  }
  th {
    height: auto;
    padding: rem(24px);
    font-weight: 600;
    font-size: rem(16px);
    line-height: 1.4;
    letter-spacing: -0.16px;
    text-align: left;
    color: #0b1226;
    @include media-laptop {
      height: rem(56px);
      padding: rem(8px) rem(12px);
      font-size: rem(14px);
    }
  }
  th,
  td {
    max-width: rem(589px);
    min-width: rem(143px);
    width: auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
    @include media-laptop {
      max-width: rem(375px);
      min-width: rem(130px);
    }
  }
}
