extends ../../layout/layout

block variables
  -
    const pageName = 'tailwind'
    const pageTitle = 'tailwind'

block content
  main(data-barba='container', data-barba-namespace=pageName)
    +tailwind-currentNews
