extends ../../layout/layout

block variables
  -
    const pageName = 'tailwind'
    const pageTitle = 'tailwind'

block content
  main(data-barba='container', data-barba-namespace=pageName)
    +tailwind-task1
    +tailwind-current-news(
      class='m-auto flex max-w-[55.625rem] flex-col gap-10 d:max-w-[45rem] d:gap-6'
    )
    +tailwind-other-news(class='my-[7.5rem] border-t border-gray-500 d:my-12')
    +tailwind-task3
