.addresses {
  position: relative;
  display: flex;
  gap: rem(24px);
  margin-top: rem(24px);

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: rem(24px);
  }

  &__map {
    cursor: pointer;

    position: relative;

    max-width: rem(1398px);
    max-height: rem(600px);

    background: #ffffff;
  }
}

@media #{media('<',d)} {
  .addresses {
    gap: rem(13px);
    margin-top: rem(48px);

    &__blocks {
      gap: rem(12px);
    }
  }
}

@media #{media('<',m)} {
  .addresses {
    flex-direction: column;

    &__blocks {
      flex-direction: row;
    }
  }
}
