mixin contacts-addresses(mods)
  -
    const baseName = 'addresses'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .addresses(class=allMods)&attributes(attributes)
    .addresses__blocks
      +address('Офис', '194044, Санкт-петербург, Беловодский переулок, 6', 'пн-пт: 9–17:30', '_green')
      +address('Производство', '194044, Санкт-Петербург, пер. Зеленков, 6, лит. А, корп. 1, пом. 11', 'пн-пт: 9–17:30', '_blue')
    .addresses__map
      +picture('map.webp').desktop
      +picture('map-tablet.webp').tablet
      +picture('map-mobile.webp').mobile
