.addresses {
  position: relative;
  display: flex;
  gap: rem(24px);

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: rem(24px);
  }

  &__image {
    position: relative;
    max-width: rem(1398px);
    max-height: rem(600px);
    flex-shrink: 0;
    border-radius: rem(24px);
    border: 2px solid #f0f0f0;
    background: #fff;
  }
  .lv {
    position: absolute;
  }
}
