-

header.header
  +button("", "_accent").header__button-menu.mobile
    +menu-icon

  a.header__logo
    +logo

  .header__buttons
    +button("Продукция", "_accent").header__buttons-products.not-mobile
      +dotted-icon
    search
      +button.header__buttons-search
        +seach-icon
    +button.header__buttons-phone.tablet
      +phone-icon-header

  ul.header__links.desktop
    each link, value in {'О компании': '#', 'Новости': '#', 'Где купить': '#', 'Контакты': '#'}
      li
        +link.header__links-item(href='#{link}')= value

  +link.header__phone.desktop(href='tel:+78124485465') 8 812 448-54-65

  +button("Стать партнером").header__partners.desktop

nav
  +breadcrumbs.header__breadcrumbs
