.ui-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 20px;
  transition: 0.3s;

  @include media-hover {
    color: $primary1;
    border-color: $primary1;
  }

  &[disabled] {
    pointer-events: none;
    color: inherit;
    opacity: 0.8;
    background-color: $background1;
    border-color: $background1;
  }

  &_bg-primary1 {
    color: #ffffff;
    background: $primary1;

    @include media-hover {
      color: $primary1;
      background: #ffffff;
    }
  }

  &_border-primary1 {
    border: 1px solid $primary1;
  }
}
