a {
  color: black;
}

body {
  &.overflow-scroll {
    overflow: hidden;
  }
}

h1 {
  color: #364a46;
  font-family: 'TT Firs Neue';
  font-size: rem(120px);
  font-style: normal;
  font-weight: 600;
  line-height: rem(108px);
  letter-spacing: -2.4px;
  margin-bottom: rem(24px);
}

main {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
  padding-inline: rem(24px);
}

@media #{media('<',d)} {
  h1 {
    font-size: rem(48px);
    line-height: rem(43.2px);
    letter-spacing: -0.96px;
    margin-bottom: rem(14px);
  }
  main {
    gap: rem(10px);
    padding-inline: rem(12px);
  }
}

@media #{media('<',m)} {
  // мобилка
}
