a {
  color: black;
}

body {
  &.overflow-scroll {
    overflow: hidden;
  }
}

main {
  padding-inline: rem(24px);
}

@media #{media('<',d)} {
  main {
    padding-inline: rem(12px);
  }
}

@media #{media('<',m)} {
  // мобилка
}
