a {
  color: black;
}

body {
  &.overflow-scroll {
    overflow: hidden;
  }
}

h1 {
  color: #364a46;
  font-family: 'TT Firs Neue';
  font-size: 120px;
  font-style: normal;
  font-weight: 600;
  line-height: rem(108px);
  letter-spacing: -2.4px;
  margin-bottom: rem(24px);
}

main {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
  padding: rem(24px);
}
