extends ../../layout/layout

block variables
  -
    const pageName = 'delivery'
    const pageTitle = 'delivery'

block content
  main.font-main(data-barba='container', data-barba-namespace=pageName)
    h1(
      class='mx-auto max-w-[43.1875vw] text-[3.75rem]/[3.75rem] font-semibold tracking-[-2.4px] text-dark d:mx-0 d:mt-4 d:text-[2rem]/[2rem] d:tracking-[-1.28px] m:max-w-max'
    ) Заявка на отгрузку
    +delivery-option(class='mx-auto flex flex-col d:mx-0')
